# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# sass noise
/.sass-cache

# node noise
node_modules

# Compiled items
assets/js/
assets/css/
src/components/

# Generated
src/sass/svg
assets/svg

# Deployment
deploy
rsync_exclude.txt
