/* ===================================================================
    Blog
====================================================================== */

.entry-meta {
    color: #848484;
}

/* Post Loop -------------------------------------------- */

.article-archive {
    @extend %clearfix;

    .loop-item {
        text-decoration: none;

        h2 {
            margin-bottom: .25em;
            font-family: "Source Sans Pro", Arial, sans-serif;
        }
    }

    .post-thumb {
        float: left;
        margin-right: 1em;
    }

    .excerpt {
        float: left;

        &.post {
            width: 70%;
        }
    }
}

/* Single Post ---------------------------------------- */

.single-post {

    h1 {
        margin-bottom: .25em;
    }
}

/* Comment List ---------------------------------------- */

.commentlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.comment-respond {
    margin: 1em 0;
}

label[for="comment"] {
    display: block;
}
