/* ===================================================================
    Home page
====================================================================== */

.home {

    /* Slider ---------------------------------------- */

    .flexslider {
        border: none;
        width: 100%;
        height: 450px;
        top: 0;
        z-index: 3;

        @include bp-l {
            height: 600px;
        }

        div {
            width: 100%;
            height: 450px;
            background-size: cover;
            background-position: 25% 0;

            @include bp-l {
                height: 600px;
                background-position: 0 0;
            }
        }
    }

    /* Featured Stories ------------------------------ */
    .features {
        @extend %clearfix;
        padding: 1em;

        @include bp-l {
            margin: 1em 0;
            padding: 0;
        }

        .stories {
            @extend %clearfix;
            float: left;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;

            @include bp-l {
                width: 60%;
                padding-right: 1em;
            }

            @include bp-xl {
                padding-right: 0;
            }

            li {
                float: left;
                width: 100%;
                padding: 1em;
                margin: 0 0 1em;
                background: #eee;

                @include bp-xl {
                    width: 30%;
                    margin-right: 3%;
                    margin-bottom: 0;
                }

                .title {
                    display: block;
                    margin: 0 0 1em;
                    font-size: 14px;

                    @include bp-m {
                        width: 65%;
                        float: right;
                        font-size: 20px;
                    }

                    @include bp-xl {
                        width: auto;
                        float: none;
                        font-size: 14px;
                    }
                }

                img {
                    width: 100%;

                    @include bp-m {
                        width: 30%;
                        float: left;
                    }

                    @include bp-xl {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }

        .dialogue {
            float: left;
            width: 100%;

            @include bp-l {
                width: 40%;
            }

            .header {
                @extend %clearfix;
                margin: 0 0 1em;
                padding: .5em 1em;
                background: $brand-blue;

                h2 {
                    float: left;
                    margin: .25em 0;
                    color: #fff;
                }
            }

            .header .btn {
                margin-top: 8px;
                background: #fff;
                float: left;
                clear: left;

                @include bp-xl {
                    float: right;
                    clear: none;
                }
            }

            .dialogue-content {
                padding: 0 1em;
            }
        }

        a {
            color: $brand-blue;
            text-decoration: none;
        }

        .ft-block {
            float: left;
            width: 100%;
            margin: 1em 0 0;

            @include bp-l {
                width: 60%;
                padding: 0 1.75em 0 0;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                border-right: 7px solid #fff;
                border-bottom: 7px solid #fff;

                @include bp-l {
                    border-right: 7px solid #fff;
                }
            }

            p {
                position: relative;
                float: left;
                width: 100%;
                padding: 1.125em 1em 1.125em 6.5em;
                font-size: 14px;
                background: #e5e9f1;
            }
        }

        .social {
            float: left;
            width: 100%;

            @include bp-l {
                width: 40%;
                padding-right: 2em;
            }

            h3 {
                font-size: 20px;
                font-family: "Source Sans Pro", Arial, sans-serif;
                border-bottom: 3px solid #273452;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }

            li {
                display: inline-block;
                margin-right: 8px;
            }
        }
    }
}
