/* ===================================================================
    Home page
====================================================================== */

.home {

    /* Slider ---------------------------------------- */
    .hero {
        position: relative;
        padding: 9em 0;
        
        @include bp-l {
            height: 600px;
        }
        
        .value-prop {
            position: relative;
            color: $white;
            z-index: 20;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            
            @include bp-xl {
                width: 40%;
            };
        }
        
        h1 {
            margin-bottom: 0;
            color: $white;
            
            @include bp-l {
                @include font-size(4, 4);
            }
        }
        
        p {
            
            @include bp-l {
                margin: 1em 0 1.5em;
                @include font-size(1.25, 1.6);
            }
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
            z-index: 11;            
        }
    }

    .flexslider {
        position: absolute;
        top: 0;
        width: 100%;
        height: 450px;
        border: none;
        z-index: 10;

        div {
            width: 100%;
            height: 450px;
            background-size: cover;
            background-position: 25% 0;

            @include bp-l {
                height: 600px;
                background-position: 0 0;
            }
        }
    }

    .main-content {
        @extend %clearfix;
        margin: 2em 0;
        
        .more {
            text-align: right;
            font-weight: 700;
        }
    }
    
    .stories {
        margin: 0 0 2em;
        
        @include bp-l {
            float: left;
            width: 50%;
            padding-right: 2.5%;
        }
        
        img {
            margin: 0 0 1em;
        }
        
        h2 {
            text-transform: uppercase;   
        }
        
        article {
            
            h1 {
                @include font-size(1.25, 1.6);
            }
        }

    }
    
    .video {
        margin: 0 0 1em;
        
        h2 {
            text-transform: uppercase;
        }
        
        img {
            margin: 0 0 1em;
        }
        
        @include bp-l {
            float: left;
            clear: left;
            width: 50%;
            padding-right: 2.5%;
        }
    }
    
    .insights {
    
        @include bp-l {
            float: right;
            width: 50%;
            padding-left: 2.5%;
            border-left: 1px solid #ececec;
        }

        .header {
            @extend %clearfix;

            h2 {
                float: left;
                text-transform: uppercase;
            }
        }

        .header .btn {
            float: left;
            clear: left;

            @include bp-xl {
                float: right;
                clear: none;
                position: relative;
                top: -5px;
            }
        }
        
        .insights-item {
            position: relative;
            margin: 0 0 1em;
            min-height: 150px;
            
            @include bp-l {
                padding-left: 10em;
                
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 150px;
                    height: 150px;
                }
            }
            
            h1 {
                @include font-size(1.25, 1.6);
            }
        }
    }
    
    /* Global --------------------------------------------------------- */
    
    .global {
        @extend %clearfix;
        padding: 0 0 2em;
        text-align: center;
        
        p {
            float: left;
            width: 100%;
            margin: 2em 0;
            color: $brand-blue;
            @include font-size(1.25, 1.6);
        }
        
        .number {
            margin: 0 0 .5em;
            color: $alt-blue;
            @include font-size(3.5, 3.5);
            
            @include bp-l {
                @include rowMachine(2, 5%, 2%);
            }
            
            @include bp-xl {
                @include rowMachine(4, 2%, 0);
            }
            
            span {
                display: block;
                @include font-size(1.25, 1.6);
                text-transform: uppercase;
            }
            
            @include bp-l {
                display: inline-block;   
            }
        }
        
        img {
            
            @include bp-l {
                float: left;
                width: 65%;
            }
        }
        
        .locations {
            text-align: left;
            
            @include bp-l {
                float: right;
                width: 30%;
            }
            
            .region {
                position: relative;
                padding: .5em 0;
                color: $alt-blue;
                border-bottom: 1px solid $alt-blue;
                
                &::after {
                    content: "";
                    position: absolute;
                    top: 14px;
                    right: 0;
                    display: block;
                    @extend .svg-down;
                    @extend .svg-down-dims;
                    opacity: .35;
                }
                
                &.show {
                    
                    &::after {
                        @extend .svg-up;
                        @extend .svg-up-dims;
                    }
                }
            }
            
            .office {
                display: none;
                padding: 1em 0;
                
                h3 {
                    @include font-size(1, 1.4);
                }
                
                .btn {
                    margin: 1em 0;
                    @include font-size(.875, 1);
                }
            }
        }
    }
}
