/* ===================================================================
    Landing Page
====================================================================== */

.highlights {
    @extend %clearfix;
    
    .highlight {
        margin: 0 0 1em;
        
        @include bp-xl {
            @include rowMachine(3, 2%, 5%);
        }
        
        h2 {
            margin: .25em 0;
        }
    }
}

.bottom-content {
    padding: 2em 0;
}
