/* ===================================================================
    Article Library
====================================================================== */

.article-list {

    > h2 {
        float: left;
        width: 100%;
        margin: 0 0 1em;
        padding: 0 0 .25em;
        border-bottom: 1px solid #ccc;
    }
}

.article-filters {
    float: right;

    a {
        float: left;
        display: block;
        padding: 0 .5em;
        text-transform: uppercase;
        text-decoration: none;

        &:first-child {
            border-right: 1px solid;
        }
    }
}

.library-item {
    @extend %clearfix;
    float: left;
    margin: 0 0 1.5em;
    
    @include bp-l {
        @include rowMachine(2, 5%, 5%);
    }
    
    @include bp-xl {
        @include rowMachine(3, 2%, 5%);
    }

    h2 {
        margin: .25em 0;

        a {
            color: $brand-blue;
            text-decoration: none;
        }
    }

    .date {
        color: #999;
        font-size: 15px;
    }
}

.single-article-library {

    .entry-meta {
        margin-bottom: 1em;
    }
}

.article-category-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em;

    li {
        margin: 0 0 1em;
        text-transform: uppercase;
        @include font-size(1.2, 1);

        &.active {
            font-weight: 600;
        }
    }

    a {
        text-decoration: none;
    }
}

.article-archive {

    @include bp-l {

        h1 {
            width: 50%;
            float: left;
        }

        .search-box {
            width: 50%;
            float: right;
            margin-top: 10px;
        }
    }

    .article-intro {
        width: 100%;
        float: left;
    }
}

.article-list {
    @extend %clearfix;
}

.searchwp-results, .taxonomy-archive {

    h1 {
        @include bp-l {
            width: 50%;
            float: left;
            @include font-size(1.875, 2);
        }
    }

    .article-list, .pagination {
        float: left;
        width: 100%;
    }

    .search-box {
        margin-bottom: 1em;

        @include bp-l {
            position: relative;
            top: -8px;
        }
    }
}

.pagination {

    span, a {
        margin-right: 10px;
    }
}

.single-insights {
    
    h1 {
        margin-bottom: .25em;
    }
    
    .entry-meta {
        margin-bottom: 1em;    
    }
    
    .content {
        
        @include bp-xl {
            width: 60%;
        }
    }
    
    .attachment-content-feature {
        
        @include bp-l {
            float: right;
            max-width: 40%;
            margin-left: 1em;
            margin-bottom: 1em;
        }
    }
}
