/* ===================================================================
    Article Library
====================================================================== */

.article-list {

    > h2 {
        float: left;
        width: 100%;
    }
}

.article-filters {
    float: right;

    a {
        float: left;
        display: block;
        padding: 0 .5em;
        text-transform: uppercase;
        text-decoration: none;

        &:first-child {
            border-right: 1px solid;
        }
    }
}

.library-item {
    @extend %clearfix;
    float: left;
    margin: 0 0 1.5em;

    h2 {
        margin: 0 0 .25em;
        font-family: "Source Sans Pro", Arial, sans-serif;
        @include font-size(1.375, 1.8);

        a {
            text-decoration: none;
        }
    }

    .date {
        color: #999;
        font-size: 15px;
    }

    img {
        margin-bottom: 1em;

        @include bp-m {
            float: left;
            margin-right: 1.5em;
            margin-bottom: 2em;
            max-width: 120px;
        }
    }
}

.single-article-library {

    .entry-meta {
        margin-bottom: 1em;
    }
}

.article-category-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em;

    li {
        margin: 0 0 1em;
        text-transform: uppercase;
        @include font-size(1.2, 1);

        &.active {
            font-weight: 600;
        }
    }

    a {
        text-decoration: none;
    }
}

.article-archive {

    @include bp-l {

        h1 {
            width: 50%;
            float: left;
        }

        .search-box {
            width: 50%;
            float: right;
            margin-top: 10px;
        }
    }

    .article-intro {
        width: 100%;
        float: left;
    }
}

.article-list {
    @extend %clearfix;
}

.searchwp-results, .taxonomy-archive {

    h1 {
        @include bp-l {
            width: 50%;
            float: left;
            @include font-size(1.875, 2);
        }
    }

    .article-list, .pagination {
        float: left;
        width: 100%;
    }

    .search-box {
        margin-bottom: 1em;

        @include bp-l {
            position: relative;
            top: -8px;
        }
    }
}

.pagination {

    span, a {
        margin-right: 10px;
    }
}
