/* ===================================================================
    Typical Page
====================================================================== */

.breadcrumbs {
    margin: 0 0 1.5em;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #eee;

    a {
        color: #1e376c;
        text-decoration: none;
        font-weight: 400;
    }

    .separator {
        margin: 0 6px;
        color: #989898;
    }
}

/* Main Content ----------------------------------------------------- */

.featured-img {
    min-height: 175px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    
    @include bp-l {
        min-height: 368px;
    }
}

.primary-content {
    padding: 1em 0;
    @include font-size(1.125, 1.625);
    
    @include bp-l {
        padding: 1.5em 0;
    }
    
    a {
        color: $alt-blue;
        
        &:hover {
            color: darken($alt-blue, 10%);
        }
    }
}

.primary-content.type-page {
    
    .wrap {
        max-width: 900px;
        margin: 0 auto;
    }
}
 
/* Page Specific --------------------------------------------------- */

.people-column {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.employment-info {
    float: left;
    width: 100%;
    margin: 2em 0;
}

.single-people {
    
    h2 a {
        display: block;
    }
}
