/* ===================================================================
    Typical Page
====================================================================== */

/* Main Content ----------------------------------------------------- */

.featured-img {
    min-height: 368px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.primary-content {
    padding: 1em 0;
    font-size: 18px;
    
    .wrap {
        //max-width: 1000px;
    }
}
 
/* Page Specific --------------------------------------------------- */

.people-column {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.employment-info {
    float: left;
    width: 100%;
    margin: 2em 0;
}
