/* ===================================================================
    Typical Page
====================================================================== */

/* Main Content ----------------------------------------------------- */

.featured-img {
    min-height: 368px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.primary-content {
    padding: 1.5em 0;
    @include font-size(1.125, 1.625);
    
    a {
        color: $alt-blue;
        
        &:hover {
            color: darken($alt-blue, 10%);
        }
    }
}

.primary-content.type-page {
    
    .wrap {
        max-width: 900px;
        margin: 0 auto;
    }
}
 
/* Page Specific --------------------------------------------------- */

.people-column {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.employment-info {
    float: left;
    width: 100%;
    margin: 2em 0;
}

.single-people {
    
    h2 a {
        display: block;
    }
}
