/*

    GENEAL FORM STUFF
    =================

    This is more reset based stuff, if you've got a specific form, it would be
    best to create it as a partial scss file and import it to screen.scss

*/

form {
    margin: 0;
    }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    }

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
    }

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    }

button,
input {
    line-height: normal;
    }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
    }

button[disabled],
input[disabled] {
    cursor: default;
    }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
    }

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
    }

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    border: 1px solid #ccc;
    box-shadow: none;
}

    .search-form {
        width: 100%;

        @include bp-l {
            float: right;
            width: auto;
        }

        input[type="search"] {
            float: left;
            height: 35px;
            width: 225px;
            margin-left: -3px;
            padding: 0 1em;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 0;
            position: relative;
            z-index: 2;
            -webkit-appearance: none;

            &::-webkit-input-placeholder {
               color: #999;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: #999;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: #999;
            }

            &:-ms-input-placeholder {
               color: #999;
            }
        }

        input[type="submit"] {
            float: left;
            width: 37px;
            height: 37px;
            padding: 0;
            border: none;
            border-radius: 0;
            background: $alt-blue;
        }
    }
    
    .gform_wrapper {
        
        input[type="text"], input[type="email"] {
            border: 1px solid #ccc;
        }
    }
    
    .primary-content .gf_browser_ie.gform_wrapper .gform_footer input.button {
        padding: .75em 2.5em;
    }
