/*
	NOTE: If you use Google fonts, import it here. Don't include the http bit then it's safe across secure too
	@import url(//fonts.googleapis.com/css?family=Paytone+One;
*/

/*
Font weights set as variables because sometimes there are multiple weights,
so an example use might also be a variable of $mid-weight: 500;
If you've just got normal and bold, you don't need the variable.
*/
$normal: normal;
$bold: bold;

html {
    font-size: 100%;
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    @include font-size(1,1.5);
    color: $dark-gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	@include font-size(1.5, 1.75);
    margin: 0 0 .5em;
    color: $brand-blue;

    p + & {
        margin-top: 1em;
    }
}

h1 {
    @include font-size(2, 2.25);
    font-weight: 400;
    color: $brand-blue;
    text-transform: uppercase;
}

h2 {
    @include font-size(1.5, 2);
    font-weight: 400;
}

h3 {
    @include font-size(1.25, 1.5);
    font-weight: 400;
}

h4 {
    @include font-size(1, 1.5);
    font-weight: 400;
}
h5 {}
h6 {}

@include bp-l {
    h1 {
        @include font-size(2.75, 3.25);
    }

    h2 {
        @include font-size(1.75, 2.5);
    }

    h3 {
        @include font-size(1.5, 2);
    }

    h4 {
        @include font-size(1, 1.5);
    }
}

.secondary-content {

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Source Sans Pro', Arial, sans-serif;
    }
}

p {
    margin-bottom: 1em;
}

a {
    color: $brand-blue;
	@include hover-fade;
    text-decoration: none;

	&:hover,
    &:active {
        outline: 0;
		}
	}

a:focus {
    outline: none;
}

strong, b {
	font-weight: $bold;
	}

.small {
	@include font-size(.75, 1.25);
	}

pre, code {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
	}

blockquote {

    cite {

        }
    }

sup {
    position: relative;
    top: -.15em;
    vertical-align: top;
}

.btn, input[type="submit"] {
    display: inline-block;
    margin: 0 0 .5em;
    padding: .75em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    background: $brand-blue;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #fff;
    
    @include bp-s {
        padding: .75em 2.5em;
    }

    &:hover, &:focus {
        color: #fff;
        background: #001C49;
    }

    &.btn-action {
        background: $alt-blue;

        &:hover, &:focus {
            background: #055FA0;
        }
    }
    
    &.btn-alt {
        background: $white;
        border: 1px solid $brand-blue;
        color: $brand-blue;
        
        &:hover, &:focus {
            color: $white;
            background: $brand-blue;
        }
    }
}

table {

    td {
          border: 1px solid #ececec;
          padding: .5em;
    }
}

.section-header {
    padding-bottom: .5em;
    margin: 1em 0 .75em;
    @include font-size(2,2);
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
