/* ===================================================================
    Sidebar
====================================================================== */

.subnav {
    margin: 0 0 2em;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: #696969;
        font-size: 18px;

        &:hover {
            color: #000;
        }
    }

    .active > a {
        font-weight: 700;
    }

    .sub-menu {
        margin: 10px 0 10px 16px;

        a {
            font-size: 16px;
        }

        .sub-menu {

            a {
                font-size: 14px;
            }
        }
    }
}

/* Sidebar Widgets ------------------------------------------------- */

.widget {

    h3 {
        font-size: 20px;
        font-weight: 400;
        color: #444444;
    }

    .btn {
        width: 100%;
        color: #fff;
    }
}
