/* ===================================================================
    Header
====================================================================== */

header[role="banner"] {
    @extend %clearfix;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background: $white;
    z-index: 100;
    
    .logo-wrap {
        position: relative;
        z-index: 999;
    }

    .logo {
        display: block;
        float: left;
        width: 120px;
        height: 54px;
        margin: 14px 0;
        
        @include bp-l {
            width: 134px;
            height: 60px;
        }
    }
    
    .menu {
        position: absolute;
        opacity: 0;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 0 1em;
        background: #fff;
        transition: all .2s;
        z-index: 10;
        
        &.open {
            opacity: 1;
            z-index: 50;
        }
        
        @include bp-l {
            position: static;
            float: right;
            padding: 0;
            opacity: 1;   
        }
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        z-index: 999;
        transition: all 250ms ease-in-out;

        @include bp-l {
            display: none;
        }

        &:focus {
            outline: none;
        }

        span {
            left: 6px;
        }

        span, span:before, span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 4px;
          width: 33px;
          background: $brand-blue;
          position: absolute;
          display: block;
          content: '';
          transition: all 250ms ease-in-out;
        }

        span:before {
          top: -10px;
        }

        span:after {
          bottom: -10px;
        }

        &.active {

            span {
                background-color: transparent;
            }

            span:before, span:after {
                top: 0;
                background-color: $brand-blue;
            }

            span:before {
                transform: rotate(45deg);
            }

            span:after {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        float: left;
        width: 100%;

        @include bp-l {
            width: auto;
        }

        .main-menu {
            margin: 0;
        }

        li {
            position: relative;

            @include bp-l {
                display: inline-block;

                &:hover {

                    ul {
                        display: block;
                    }

                    a {
                        color: $alt-blue;
                    }
                    
                    .sub-menu a {
                        color: $dark-gray;
                        
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }

            &:focus {

                a {
                    color: $alt-blue;
                }
            }
        }

        a {
            display: block;
            padding: 1em;
            color: $dark-gray;
            border-top: 1px solid #ececec;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            transition: all .2s;
            
            @include bp-l {
                padding: 2em 1em;
            }
            
            @include bp-xl {
                padding: 2em;
                border: none;
            }
        }

        .toggle-sub {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 56px;
            height: 56px;
            background: darken($brand-blue, 5%);

            &:before {
                content: "";
                background: url('../img/chevrons.png');
                background-position: -32px -16px;
                height: 16px;
                width: 16px;
                position: absolute;
                top: 20px;
                right: 20px;
            }

            &.active {

                &:before {
                    background-position: 0 0;
                }
            }

            @include bp-l {
                display: none;
            }
        }

        .sub-menu {
            display: none;
            margin: 0;
            background: $white;
            z-index: 50;

            @include bp-l {
                position: absolute;
                left: 50%;
                margin-left: -100px;
                width: 200px;
                padding: 0;
                border: 0;
            }

            li {
                width: 100%;
                transition: all .2s;
            }

            a {
                padding: .5em 1em;
                text-transform: none;
                font-weight: 400;
                
                @include bp-l {
                    text-align: center;
                    width: 100%;
                    transform: translateX(0);
                    
                    &:hover {
                        width: 104%;
                        color: #fff;
                        background: $alt-blue;
                        transform: translateX(-3.5%);
                    }
                }

                &::before {
                    content: none;
                }
            }
        }
    }
    
    /* Search Form --------------------------------------------- */
    
    .search {
        float: left;
        position: relative;
        width: 100%;
        padding: 0 1em;
        line-height: 0;
        
        @include bp-l {
            width: auto;
            padding: 2em;
        }
        
        button {
            display: none;
            
            @include bp-l {
                display: block;
                padding: 0;
                border: none;
                line-height: 0;
                background: none;
                
                &:hover {
                    color: $alt-blue;
                    fill: $alt-blue;
                }
                
                &:focus {
                    outline: none;
                }
            }
        }
        
        svg {
            width: 24px;
            height: 24px;
            transition: all .2s;
        }
        
        .search-form {
            
            @include bp-l {
                display: none;
                position: absolute;
                top: 100%;
                left: 50%;
                width: 260px;
                margin-left: -130px;
                padding: 0 1em;
                background: $white;
            }
            
            input[type="search"] {
                width: calc(100% - 68px);
            }
        }
        
        &.active {
            
            .search-form {
                display: block;
            }
        }
    }
    
    /* Contact -------------------------------------------------- */
    
    .contact {
        margin: 1em 1em 0;
        
        @include bp-l {
            margin: 1.25em 0 0;    
            padding: .75em 1.5em;
        }
        
        @include bp-xl {
            padding: .75em 2.5em;
        }
    }
}
