/* ===================================================================
    Header
====================================================================== */

header {
    @extend %clearfix;
    position: relative;

    .logo-wrap {
        position: relative;
        z-index: 999;
    }

    .logo {
        display: block;
        float: left;
        width: 120px;
        height: 54px;
        margin: 10px 0;
        
        @include bp-l {
            width: 148px;
            height: 66px;
        }
    }
    
    .menu {
        position: absolute;
        opacity: 0;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        transition: all .2s;
        z-index: 10;
        
        &.open {
            opacity: 1;
            z-index: 50;
        }
        
        @include bp-l {
            position: static;
            float: right;
            opacity: 1;   
        }
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        z-index: 999;
        transition: all 250ms ease-in-out;

        @include bp-l {
            display: none;
        }

        &:focus {
            outline: none;
        }

        span {
            left: 6px;
        }

        span, span:before, span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 4px;
          width: 33px;
          background: $brand-blue;
          position: absolute;
          display: block;
          content: '';
          transition: all 250ms ease-in-out;
        }

        span:before {
          top: -10px;
        }

        span:after {
          bottom: -10px;
        }

        &.active {

            span {
                background-color: transparent;
            }

            span:before, span:after {
                top: 0;
                background-color: $brand-blue;
            }

            span:before {
                transform: rotate(45deg);
            }

            span:after {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        float: left;
        width: 100%;

        @include bp-l {
            width: auto;
        }

        .main-menu {
            margin: 0;
        }

        li {
            position: relative;

            @include bp-l {
                display: inline-block;

                &:hover {

                    ul {
                        display: block;
                    }

                    a {
                        color: $alt-blue;
                    }
                }
            }

            &:focus {

                a {
                    color: $alt-blue;
                }
            }
        }

        a {
            display: block;
            padding: 1em;
            color: $dark-gray;
            border-top: 1px solid #ececec;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            transition: all .2s;
            
            @include bp-l {
                padding: 2em;
                border: none;
            }
        }

        .toggle-sub {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 56px;
            height: 56px;
            background: darken($brand-blue, 5%);

            &:before {
                content: "";
                background: url('../img/chevrons.png');
                background-position: -32px -16px;
                height: 16px;
                width: 16px;
                position: absolute;
                top: 20px;
                right: 20px;
            }

            &.active {

                &:before {
                    background-position: 0 0;
                }
            }

            @include bp-l {
                display: none;
            }
        }

        .sub-menu {
            display: none;
            margin: 0;
            padding: .5em 0 .5em 1em;
            background: $white;
            z-index: 50;
            border-top: 1px solid rgba(0, 0, 0, .25);
            border-bottom: 1px solid rgba(0, 0, 0, .25);

            @include bp-l {
                position: absolute;
                width: 200px;
                padding: 0;
                border: 0;
            }

            li {
                width: 100%;
                transition: all .2s;

                @include bp-l {
                    &:hover {
                        background: $alt-blue;
                    }
                }
            }

            a {
                padding: .5em 1em;
                text-transform: none;
                font-weight: 400;

                &::before {
                    content: none;
                }

                &:hover {
                    transform: translateX(-7px);
                    color: $white;
                    background: $alt-blue; 
                }
            }
        }
    }
    
    /* Search Form --------------------------------------------- */
    
    .search {
        float: left;
        padding: 2em;
        line-height: 0;
        
        button {
            padding: 0;
            border: none;
            line-height: 0;
            background: none;
            
            &:hover {
                color: $alt-blue;
                fill: $alt-blue;
            }
            
            &:focus {
                outline: none;
            }
        }
        
        svg {
            width: 24px;
            height: 24px;
            transition: all .2s;
        }
        
        .search-form {
            display: none;
        }
    }
    
    /* Contact -------------------------------------------------- */
    
    .contact {
        margin: 1.25em 0 0;
    }
}
