/* ===================================================================
    Sidebar (Shown as part of footer)
====================================================================== */

/* Sidebar Widgets ------------------------------------------------- */

.widget {
    width: 100%;
    float: left;
    
    &.dialogue {
        padding: 2em 0;
        border-top: 1px solid #ccc;
        
        p {
            margin: 1em 0;
            
            @include bp-l {
                max-width: 75%;
            }
        }

        img {
            margin: 0 0 1em;
            
            @include bp-m {
                float: left;
                max-width: 150px;
                height: auto;
                margin-right: 2em;    
            };
        }
    }
}
